// Import color definitions from Material Design Lite
@import "../../../bower_components/material-design-lite/src/color-definitions";

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-indigo-500;
$color-primary-dark: $palette-indigo-700;
$color-accent: $palette-pink-A200;

// Our primary is dark, so use $color-dark-contrast for overlaid text.
$color-primary-contrast: $color-dark-contrast !default;
// Our accent is dark, so use $color-dark-contrast for overlaid text.
$color-accent-contrast: $color-dark-contrast !default;
